.imeg{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.cap{
 
  margin-left: 50px ;
  background-repeat: no-repeat; 
  padding-top: 700px;  
  margin-bottom: 10px; 

}
.tt:hover {
    color: #4daee6; 
  }
    .btn1{
        width: 250px;background: rgb(0, 9, 130); 
        border-color: rgb(16, 5, 168); 
        color: white; 
        font-weight: 50px;
    }
  .btn1:hover {
    background-color: #ff00b3; /* Green */
    color: white;
    border-color: #ff00b3; 
  }

  #tick-mark {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #336699;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}