<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/index.html  30 Nov 2019 04:12:03 GMT -->
<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<app-header></app-header>
			<!-- /Header -->
			
<!-- Home Banner -->
<div class="imeg" style="background-image: url('../assets/img/tabiba.png'); width: 1300px; padding-top: 500px; margin-left: 25px; margin-bottom: 10px; " >
  <div style="margin-top: -170px; margin-left: 100px;">
      <button  class="btn1  btn-lg login-btn" > Testing Now</button>
  </div>
    <div ><!--padding-top: 120px;-->
        <div class="banner-wrapper">
       
        <!---    <div class="banner-header text-center">
                <h1 style="color: rgba(19, 53, 11, 0.986);">know your disease now</h1>

                <h2 ><a routerlink="/test"   href="/test"  ><i class="search-btn"></i>Testing now!</a></h2>
                <h1>Search Doctor, Make an Appointment</h1>
                <p>Discover the best doctors, clinic & hospital the city nearest to you.</p>
            </div>-->
             
           
            
        </div>
    </div>
</div>

</div>


<div style="padding-bottom: 300px;"> 
<div style="margin-left: 50px; margin-top: 100px;">
<h1> DOCCURE provides you with </h1>
<h1>a fast and accurate health</h1>
 <h1>assessment</h1>
</div>
<div style="margin-left: 50px;"> 
    <ol start="1">
      <h2> <li> Enter your symptoms</li></h2>
        <li>Answer some simple questions</li>
        <li>Done! Your assessment will reveal:</li>
        <div style="margin-left: -20px;">
        <ul ><i class="fas fa-check" style="color: rgb(47, 255, 75);"></i> possible causes of your symptoms</ul>
        <ul ><i class="fas fa-check" style="color: rgb(47, 255, 75);"></i>options for next steps</ul>
            <ul ><i class="fas fa-check" style="color: rgb(47, 255, 75);"></i>suggested lab tests</ul>
        </div>
      </ol>
</div>

<div  style="background-image: url('../assets/img/bg.jpg');background-repeat: no-repeat;   " >
</div>
</div>
<!-- /Home Banner -->


            <app-footer></app-footer>


     
    </body>
</html>