<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/search.html  30 Nov 2019 04:12:16 GMT -->
<head>
		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<app-header></app-header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-8 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/home">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Search Article</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">2245 matches found for : Dentist In Bangalore</h2>
						</div>
						<div class="col-md-4 col-12 d-md-block d-none" style="margin-left: 1000px; margin-top: -30px;">
							<div class="sort-by">
								<span class="sort-title">Sort by</span>
								<span class="sortby-fliter">
									<select class="select"  style="width: 100px;">
										<option>Select</option>
										<option class="sorting">Rating</option>
										<option class="sorting">Popular</option>
										<option class="sorting">Latest</option>
										<option class="sorting">Free</option>
									</select>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
            <div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar" >
						
							<!-- Search Filter -->
							<div class="card search-filter" style="width: 324px; margin-left: 900px; ">
								<div class="card-header">
									<h4 class="card-title mb-0">Search Filter</h4>
								</div>
								<div class="card-body">
								<div class="filter-widget">
									<div class="cal-icon">
										<input type="text" class="form-control datetimepicker" placeholder="Select Date">
									</div>			
								</div>
								<div class="filter-widget">
									<h4>Gender</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type" checked>
											<span class="checkmark"></span> Male Doctor
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type">
											<span class="checkmark"></span> Female Doctor
										</label>
									</div>
								</div>
								<div class="filter-widget">
									<h4>Select Specialist</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Urology
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Neurology
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Dentist
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Orthopedic
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Cardiologist
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Cardiologist
										</label>
									</div>
								</div>
									<div class="btn-search">
										<button type="button" class="btn btn-block">Search</button>
									</div>	
								</div>
							</div>
							<!-- /Search Filter -->
							
						</div>
						
						<div class="col-md-12 col-lg-8 col-xl-9">

                            <!--------------------card Article----------
                            <div class="blog-entry background-white border-1 border-grey-1 margin-bottom-35px">
                                <div class="row no-gutters">
                                    <div class="img-in col-lg-5"><a href="#"><img src="http://placehold.it/400x240" alt=""></a></div>
                                    <div class="col-lg-7">
                                        <div class="padding-25px">
                                            <a class="d-block h4  text-capitalize margin-bottom-8px" href="#">Lorem Ipsum Dolor Sit amet, Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt </a>
                                            <div class="meta">
                                                <span class="margin-right-20px text-extra-small">By : <a href="#" class="text-main-color">Rabie Elkheir</a></span>
                                                <span class="margin-right-20px text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>
                                                <span class="text-extra-small">Categorie :  <a href="#" class="text-main-color">Arts</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>--->


<!---------- Doctor Widget --------------------------------->
							<div class="card" style="margin-left:-170px; width: 850px; height: 260px;">
								<div class="card-body" >
									<div class="doctor-widget">
										<div class="doc-info-left" >
											<div class="doctor-img" style="width: 400px; margin-right: 50px;" >
												<a routerLink="/doctor-profile">
													<img src="assets/img/img-03.jpg"  style=" height: 210px; width: 380px;"alt="User Image" >
												</a>
											</div>
											<div class="doc-info-cont" style="margin-top: 50px;">
												<h4 class="doc-name"><a routerLink="/doctor-profile">Dr. titre titre tiitre titre titre titre </a></h4>
												<h5 class="doc-department">By: DR. Name</h5><p class="doc-speciality">MDS -  and Oral S</p>

												
												<div class="clinic-details">
													<p class="doc-location"> Date: </p> <p class="doc-location"> Categorie: </p>
													
												</div>
												
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- /Doctor Widget -->
                            <div class="card" style="margin-left:-170px; width: 850px; height: 260px;">
								<div class="card-body" >
									<div class="doctor-widget">
										<div class="doc-info-left" >
											<div class="doctor-img" style="width: 400px; margin-right: 50px;" >
												<a routerLink="/doctor-profile">
													<img src="assets/img/img-01.jpg"  style=" height: 210px; width: 380px;"alt="User Image" >
												</a>
											</div>
											<div class="doc-info-cont" style="margin-top: 50px;">
												<h4 class="doc-name"><a routerLink="/doctor-profile">Dr. titre titre tiitre titre titre titre </a></h4>
												<h5 class="doc-department">By: DR. Name</h5><p class="doc-speciality">MDS -  and Oral S</p>

												
												<div class="clinic-details">
													<p class="doc-location"> Date: </p> <p class="doc-location"> Categorie: </p>
													
												</div>
												
											</div>
										</div>
										
									</div>
								</div>
							</div>
							
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							
							<!-- /Doctor Widget -->

							<!-- Doctor Widget -->
							

							<!-- Doctor Widget -->
							
							<!-- /Doctor Widget -->

							<div class="load-more text-center">
								<a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>	
							</div>	
						</div>
					</div>

				</div>

			</div>



       <app-footer></app-footer>
     </div>
    </body>
</html>