<!DOCTYPE html> 
<html lang="en">
	
<!-- doccure/index.html  30 Nov 2019 04:12:03 GMT -->
<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Doccure</title>
	
</head>
<body>

		<!-- Main Wrapper -->
		<div id="part1" class="main-wrapper" style="background-color: white;">
		
			<!-- Header -->
			<app-header></app-header>
			<!-- /Header -->
            
			<div id="imaa">
            <img src="assets/img/contact.PNG"  alt="Mockup-Header" sizes="522px">
            </div>
            <div  id="contenuu"  >
                <div style="text-align: center; margin-top: 140px;">
                    
                        <h1 style="color: white; font-size: 40px ;">
                            Contactez-nous
                        </h1>
                    <br>
                    
                        <h2  style="color: white; font-size: 24px ; font-weight: 10px;">
                            Besoin d'assistance ?<br>Une Question ?
                        </h2>
                    
                    <br>
                        <div  style=" color: white;">
                            <p>Nous sommes là pour vous aider</p>
                        </div>
                    
                    
                </div>
          </div>
           </div>
            <!----------------------------------------new----------->
            

                    
                            <!--#09e5ab-- #007bff---#15558d  -->
                    
                  



            


        <!-------------------------------end----------------------------------------->
    <div id="page-title" class=" gradient-white">
        <div class="container text-center">
           
            <h1 class="font-weight-300" style="margin-top: 40px; margin-bottom: 0px; text-align: center;">Contact Information</h1>
        </div>
    </div>

    <div class="container margin-bottom-80px" style="margin-top: 10px;">
        <div class="row">
            <section id="contact">
                <div class="container" >
                  
                    <div class="row" style="margin-left: 50px;">
                      <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                        <div class="card border-0">
                           <div class="card-body text-center">
                             <i class="fa fa-phone fa-5x mb-3" aria-hidden="true" style="color: #15558d;"></i>
                             <h4 class="text-uppercase mb-5">call us</h4>
                             <p>+8801683615582,+8801750603409</p>
                           </div>
                         </div>
                      </div>

                     

                      <div class="col-sm-12 col-md-6 col-lg-3 my-5" style="margin-left: 100px;">
                        <div class="card border-0">
                           <div class="card-body text-center">
                            <i class="fas fa-map-marker-alt fa-5x mb-3" aria-hidden="true" style="color: #15558d;"></i>
                             <h4 class="text-uppercase mb-5">office loaction</h4>
                             <address>Suite 02, Level 12, Sahera Tropical Center </address>
                           </div>
                         </div>
                      </div>

                      <div class="col-sm-12 col-md-6 col-lg-3 my-5"style="margin-left: 100px;">
                        <div class="card border-0">
                           <div class="card-body text-center">
                            <i class="fas fa-envelope fa-5x mb-3" aria-hidden="true"style="color: #15558d;"></i>
                            
                             <h4 class="text-uppercase mb-5">email</h4>
                             <p>http://al.a.noman1416@gmail.com</p>
                           </div>
                         </div>
                      </div>
                    </div>
                </div>
             </section>
<!---------------------------------------------------------------------------------------->

    <!----------------------------------Formulaire----------------------------------------------->
                
                <div class="account-content" style="margin-top: -50px; "> 
                    <div class="row align-items-center justify-content-center">
                        
                        <div class="col-md-12 col-lg-12 login-right" style="margin-left:250px; width: 500px; background-color: #15558d;">
                            <div class="login-header">
                               
                                <h3 style="font-size: 30px; color:white;">Send <span>us Message</span></h3>
                            </div>
                            <form  class="row g-5">
                                <div class="form-group form-focus">
                                    <input type="text" class="form-control floating" style="width: 350px;">
                                    <label class="focus-label">Firstname</label>
                                </div>
                                <i class="fas fa-envelope-open-text" style="margin-right: 50px; margin-left: 70px; font-size: 240px; color:white; margin-top: -30px;"></i>

                                <div class="form-group form-focus" style=" margin-top: -130px;">
                                    <input type="email" class="form-control floating" style="width: 350px ;">
                                    <label class="focus-label">Email</label>
                                </div>

                                <div class="form-group form-focus" style="margin-left: -350px;margin-top: -30px; ">
                                    <input type="text" class="form-control floating" style="width: 350px ;">
                                    <label class="focus-label">Firstname</label>
                                </div>
                               
                                <div class="form-group form-focus">
                                    <textarea type="text" class="form-control floating" rows="5"> placeholder="Message"</textarea>
                                    <label class="focus-label">meessage</label>
                                </div>
                               
                                <button class="btn   btn-lg login-btn" type="submit" style="color: dodgerblue;margin-left: 600px; border-color: white ;background-color:white;">Login</button><!-- -->
                                
                                
                                
                            </form>
                        
                        </div>
                    </div>
                </div>
            </div>
             
             <!-- Optional JavaScript -->
             <!-- jQuery first, then Popper.js, then Bootstrap JS -->
             <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<div style="margin-bottom: 500px;">

</div>
            

        </div>
  

    <app-footer></app-footer>
        